@import "tailwindcss";

@theme {
  --color-pastel-text: #1e293b;
  --font-inter: 'Inter', sans-serif;
}

:root {
  --foreground: #1e293b;
}

body {
  color: var(--foreground);
  font-family: var(--font-inter);
  scroll-behavior: smooth;
  overflow-x: hidden;
  background-color: transparent;
  /* Show Animated Background */
}

::selection {
  background-color: #a5b4fc;
  color: white;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: rgba(241, 241, 241, 0.5);
}

::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #94a3b8;
}

/* No-scrollbar utility */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}